$black = #1C1B1A
$blue = #2985F7
$light_blue = #E4F0FF
$platinum = #808080
$silver = #98B1B5
$gold = #E79124
$bronze = #963C11
$catastrophic = #CA1D25
$border_color = rgba(28, 27, 26, 0.1)

$main_font = 14px

$container_width = 1200px
$break = 1320px
$media_tab = 768px
$media_mob = 375px

media-left-right(n, left, right) {
  @media (max-width: n) {
    padding-left: left;
    padding-right: right;
  }
}