@import'/common/common.styl'
@import'/common/header.styl'
@import'/common/footer.styl'

.view-container
  display flex
  justify-content space-between
  padding-top 40px
  border-bottom 1px solid $border_color
  padding-bottom 10px
.view-title
  color $black
  font-size 24px
  line-height 33px
.view-mnu
  height 30px
  position relative
  display flex
  align-items center
  @media(max-width $media_tab)
    display none
.view-mnu__table
  height 17px
  width 18px
  display flex
  justify-content space-between
  flex-direction column
  cursor pointer
.view-mnu__table_line
  width 100%
  height 2px
  background-color $black
.view-mnu__divider
  height 100%
  background-color $border_color
  width 1px
  margin 0 15px
.view-mnu__grid
  width 18px
  height 19px
  display flex
  flex-wrap wrap
  cursor pointer
.view-mnu__grid_square
  width 8px
  height 8px
  border 2px solid rgba(28, 27, 26, 0.4)
  box-sizing border-box
  &:nth-child(odd)
    margin-right 2px

///____________________view_________________________///
.main-view
  display flex
.main-view_table
  flex-direction column
  margin-top 30px
  margin-bottom 85px
  .main-view__block
    width 100%
    border-bottom 1px solid $border_color
  .main-view__header,.main-view__desc
    display flex
    width 100%
    flex-direction row
  .main-view__header_block
    .main-view__desc_qustion
      display none
  .main-view__header_block, .main-view__desc_block
    display flex
    flex-direction row
    flex-grow 1
    justify-content space-between
    &:nth-child(1)
      max-width 280px
    &:nth-child(2)
      max-width 295px
    &:nth-child(3)
      max-width 205px
    &:nth-child(4)
      max-width 235px
    @media(max-width $break)
      flex-direction column
      justify-content center
      align-items flex-start !important
      max-width 100% !important
      width 20% !important
      &:nth-child(1)
        width 25% !important
  .main-view__desc_company_name_text
    margin-top 5px
  .main-view__header_block_covering, .main-view__desc_block_covering
    width 100px
  .main-view__header_block_metal, .main-view__desc_block_metal
    width 200px
  .main-view__desc_block_metal,.main-view__header_block_metal
    width 100px
  .main-view__desc_text_price,.main-view__header_text_price
    width 120px
  .main-view__header_visits, .main-view__desc_visits
    width 80px
    padding-right 35px
  .main-view__header_block_metal,.main-view__desc_block_metal
    width 175px
  .main-view__header_block_type,.main-view__desc_block_type
    margin-left 15px
    @media(max-width $break)
      margin-left 0
  .main-view__desc_overview
    padding 7px 26px 
    box-sizing border-box
    border 1px solid $border_color
    color $blue
    text-transform uppercase
    font-size 10px
    line-height 14px
    font-weight 600
    border-radius 4px
    display inline-block
    letter-spacing 1px
    
  .main-view__desc_buy
    padding 7px 22px 
    box-sizing border-box
    border 1px solid $blue
    color #fff
    text-transform uppercase
    font-size 10px
    line-height 14px
    font-weight 600
    border-radius 4px
    background-color $blue
    display inline-block
    letter-spacing 1px
    margin-left 5px
    @media(max-width $break)
      margin-left 0
      margin-top 5px
  .main-view__desc_block_btns,.main-view__header_block_btns
    width 100%
    max-width 185px
  .main-view__desc_block
    padding 0 !important
  .main-view__desc
    padding 19px 0
  .main-view__desc_metal
    display flex
    align-items center
  .main-view__header_hidden
    display none
.main-view__desc_block_name
  display flex
.main-view__desc_company_logo
  width 40px
  height 40px
  border-radius 40px
  overflow hidden
  display flex
  justify-content center
  align-items center
.main-view__desc_company_rating_star
  display inline-block
  height 12px
  width 12px
  margin-right 2px
  background-size cover
/////_____________________________common ______________________//////
.main-view__desc_company_rating_star_on
  background url('../img/star-on.png') no-repeat
.main-view__desc_company_rating_star_off
  background url('../img/star-off.png') no-repeat
.main-view__desc_company_name
  margin-left 20px
.main-view__desc_company_img
  display block
  height 100%
.main-view__header_block
  font-weight 700
  font-size 10px
  line-height 14px
  text-align left
  letter-spacing 1px
  text-transform uppercase
  color #C6C6C6
.main-view__desc_block
  padding 20px 0
  font-size 14px
  line-height 19px
  display flex
  align-items center
.main-view__desc_qustion
  display inline-block
  height 14px
  width 14px
  border-radius 7px
  background-color $light_blue
  line-height 15px
  font-size 11px
  font-weight 600
  color $blue
  text-align center
  margin-left 5px
.main-view__desc_type,.main-view__desc_metal_text
  display inline-block
.main-view__desc_metal_color
  height 14px
  width 14px
  border-radius 14px
  display inline-block
  margin-right 5px
.main-view__desc_metal_color_plainum
  background-color $platinum
.main-view__desc_metal_color_silver
  background-color $silver
.main-view__desc_metal_color_bronze
  background-color $bronze
.main-view__desc_metal_color_gold
  background-color $gold
  
/////_____________________________common ______________________//////

  
///____________________grid view_________________________///

.main-view_grid
  flex-direction row
  flex-wrap wrap
  justify-content space-between
  padding-top 40px
  @media(max-width $break)
    justify-content center
  .main-view__block
    width 282px
    border 1px solid $border_color
    border-radius 2px
    padding-top 105px 
    padding-bottom 63px
    box-sizing border-box
    display flex
    position relative
    margin-bottom 40px
    @media(max-width $break)
      margin-left 12px
      margin-right 12px
  .main-view__header_block
    text-transform none
    font-weight 400
    font-size 14px
    line-height 19px
  .main-view__header_block_name
    display none !important
  .main-view__desc_block
    flex-direction column
    padding 0
  .main-view__desc_block_name
    position absolute
    top 30px
    left 30px
    align-items center !important
    height auto !important
    padding 0 !important
    width auto !important
    border-bottom none !important
  .main-view__desc_company_logo
    height 55px
    width 55px
  .main-view__desc_company_name_text
    font-size 20px
    line-height 25px
  .main-view__desc_company_rating
    margin-top 5px
  .main-view__desc_company_rating_star
    height 16px
    width 16px
    background-size cover !important
  .main-view__desc, .main-view__header
    width 100%
  .main-view__header
    padding-left 30px
    box-sizing border-box
  .main-view__desc
    padding-right 30px
    box-sizing border-box
  .main-view__desc_text
    justify-content flex-end
    display flex
    width 100%
  .main-view__header_text, .main-view__desc_text
    display flex
    align-items flex-end
    padding-top 10px
    padding-bottom 10px
    border-bottom 1px solid $border_color
    height 19px
  .main-view__desc_metal
    width 100px
    display flex
    align-items center
    justify-content flex-end
  .main-view__header_deductible,.main-view__header_visits
    width 162% !important
  .main-view__desc_deductible, .main-view__desc_visits
    width 40% !important
    margin-left 70px
  .main-view__header_text_price
    display none
  .main-view__desc_text_price
    border-bottom none
    margin-left -83px
    margin-top 40px
    line-height 41px
    font-size 35px
  .main-view__desc_text_price_desc
    font-size 20px
    line-height 30px
  .main-view__header_block_btns, .main-view__desc_block_btns
    .main-view__header_text,.main-view__desc_text
      border-bottom none
      &:after
        content ""
  .main-view__desc_block_btns
    position absolute
    bottom -1px
    right -1px
    width calc(100%+1px)
    display flex
    flex-direction row
    .main-view__desc_text
      width 50%
      text-align center
      display block
      text-transform uppercase
      font-size 12px
      font-weight 600
    .main-view__desc_overview
      color $blue
      border-top 1px solid $border_color
    .main-view__desc_buy
      color #fff
      border-top 1px solid $blue
      background-color $blue
      border-radius 0px 0px 2px 0px 
  .main-view__header_text
    .main-view__desc_qustion
      margin-left 0
      margin-right 5px
      margin-bottom 3px
  .main-view__header_text:after
    content ":"
///____________________view_________________________///
.view-mnu:after
  content "Click here"
  position absolute
  top -25px
  right 0
  color darken(red, 10%)
  padding 5px 10px
  width 70px
  background-color rgba(255, 0, 0, 0.2)