section.footer
  .footer-container.main-wrapper
    p.footer-copyright INSURE. All rights reserved 2017
    nav.nav
      ul.nav-list
        li.nav-list__item
          a.nav-list__item_link(href="") Personal Plans
        li.nav-list__item
          a.nav-list__item_link(href="") Business Plans
        li.nav-list__item
          a.nav-list__item_link(href="") Guide
        li.nav-list__item
          a.nav-list__item_link(href="") Blog