header.header
  div.header-container.main-wrapper
    div.header-logo
      a.header-logo__link(href="")
        img.header-logo__img(src="../img/logo.svg", alt="logo")
    nav.nav
      ul.nav-list
        li.nav-list__item
          a.nav-list__item_link.nav-list__item_link_active(href="") Personal Plans
        li.nav-list__item
          a.nav-list__item_link(href="") Business Plans
        li.nav-list__item
          a.nav-list__item_link(href="") Guide
        li.nav-list__item
          a.nav-list__item_link(href="") Blog
      div.nav-btn
        div.nav-btn__line.nav-btn__line_one
        div.nav-btn__line.nav-btn__line_two
        div.nav-btn__line.nav-btn__line_three